.button {
    cursor: pointer;
    font-family: $primary-font;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $button-height;
    border: none;
    border-radius: $button-border-radius;
    transition: $button-transition;
    
    &:disabled {
        cursor: not-allowed;
    }

    //svg
    &__arrow {
        fill: $button-color;
        height: $button-arrow-height;
        width: $button-arrow-width;
    }

    // button primary
    &--primary {
        background-color: $button-background-color-primary;
        
        &:hover {
            background-color: $button-background-color-primary-hover;
        }
        
        &:disabled {
            opacity: $button-opacity-primary-disabled;
        }
    }

    // button secondary
    &--secondary {
        background-color: $button-background-color-secondary;

        &:hover {
            background-color: $button-background-color-secondary-hover;
        }

        &:disabled {
            opacity: $button-opacity-secondary-disabled;
        }
    }
}