// layout
$primary-font: "Fredoka-Regular", Arial, sans-serif;
$bg-color: #fff;

// wrapper
$wraper-width: 350px;
$wraper-border: 1px solid #ACB5BD;
$wrapper-border-radius: 8px;
$wrapper-grid-rows: 89px 3fr 50px;
$wrapper-padding: 5px;