* {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.2;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol {
  padding-left: 1.4em;
  list-style: decimal;
}

ul {
  padding-left: 1.4em;
  list-style: square;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

@font-face {
  font-family: "Fredoka-Regular";
  src: url(../font/Fredoka-Regular.ttf);
}
body {
  font-family: "Fredoka-Regular", Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.wrapper {
  display: grid;
  grid-template-rows: 89px 3fr 50px;
  justify-content: center;
  align-items: center;
  border: 1px solid #ACB5BD;
  width: 350px;
  border-radius: 8px;
  padding: 5px;
}

.controller {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}

.button {
  cursor: pointer;
  font-family: "Fredoka-Regular", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: none;
  border-radius: 8px;
  transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}
.button:disabled {
  cursor: not-allowed;
}
.button__arrow {
  fill: #fff;
  height: 80%;
  width: 80%;
}
.button--primary {
  background-color: #4263EB;
}
.button--primary:hover {
  background-color: #2342C0;
}
.button--primary:disabled {
  opacity: 0.5;
}
.button--secondary {
  background-color: #7048E8;
}
.button--secondary:hover {
  background-color: #5028C6;
}
.button--secondary:disabled {
  opacity: 0.5;
}
.button--alternate {
  background-color: #fff;
  color: #495057;
  border: #ACB5BD 1px solid;
}
.button--alternate:hover {
  border: #212429 1px solid;
}
.button--alternate:disabled {
  opacity: 0.3;
}
.button--long {
  width: 100%;
}
.button--short {
  width: 30px;
}

.input {
  display: flex;
  align-items: flex-end;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #334D6E;
}
.input:focus {
  outline: none;
}

.change {
  display: grid;
  width: 100%;
  gap: 1px;
  grid-template-columns: 0.5fr 0.5fr 2fr 1fr 0.5fr 0.5fr;
  justify-content: center;
  align-items: center;
}
.change__month, .change__year {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.change__month--suggestion {
  color: #90A0B7;
}
.calendar {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(7, 1fr);
  border-top: 1px solid #ACB5BD;
  border-bottom: 1px solid #ACB5BD;
  justify-items: center;
  width: 100%;
}
.calendar__day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  text-align: center;
  justify-items: center;
  color: #334D6E;
}
.calendar__day--inactive {
  color: #90A0B7;
}
.calendar__day--current {
  background: #4263EB;
  color: white;
}

.local-time {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: x-large;
}

/*# sourceMappingURL=mainStyle.css.map */
